body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 250px;
    text-align: center;

    background-color: white
}
nav{
    width: 100%;
    height: 50px;
    color: black;
    text-align: center;
    font-family:monospace
    background-color:white
}
a {
    text-decoration: none;
    color: black;
}
nav ul{
    list-style-type: none;
    float:center;
    color: black;
}
nav ul a li{
    display: inline-block;
    margin: 0 -3px;
    padding: 18px 30px;
    /* background-color: burlywood; */
}
.hero-copy{
    width: 100%;
    height: auto;
    text-align: center;
    top: 30%;
    left: 8%;
    background-color:black
    padding: 15px;
    border-radius: 15px;
    display:inline-block;
}
aside{
    height: 250px;
    width: 100%;
    text-align: center;
    border: 3px solid white
    display:-webkit-inline-box
    padding: 15px
}* {
        box-sizing: border-box;
      }
      
      .column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }
      
      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }     

    
section, article{
    height: 400px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    background-color: #fbe2c1; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
* {
    box-sizing: border-box;
    margin: 0;
    padding : 0;
    max-width: 100%;
  }
  
  footer {
  padding: 40px 0;
  width: 100vw;
  height: auto;
  background-color:#fbe2c1; 
  }
  
  .social-icons{
  display: flex;
  justify-content: space-around;
  list-style: none;
  }
  
  .social-icons i{
  color: black
  transition: all 0.3s ease 0s;
  font-size: 2rem;
  }
  
  .social-icons i:hover{
  color: #040404;
  }
  
  footer h6{
  display:inline-block
  color: black
  justify-content: center;
  padding-top: 1rem;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 15px;
    height: 200px;
    background-color: #fbe2c1; 

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

